:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

main {
    padding: 20px;
}

.calculator {
    border: solid black 1px;
    padding: 5px;
}

.calculator td {
    padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#btn {
    background-color: #fb0066;
}

input[type='button'] {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

input:active[type='button'] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

#result {
    text-align: end;
}

/* tabs experiment */

.about-content {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    padding: 2rem 1.5rem;
}

/* hide content */
.content {
    display: none;
}

.tab-btn.active {
    background: var(--clr-white);
}

.content.active {
    display: block;
}

.animation-move {
    /* position: absolute; */
    background: transparent url('/assets/move.png') 0 0 no-repeat;
    width: calc(2592px / 6);
    height: 432px;
    animation: move 0.4s steps(6) infinite;
}

@keyframes move {
    from {
        background-position: 0;
    }
    to {
        background-position: -2592px;
    }
}

/* slideshow */

.slider-container {
    border: 5px solid rgb(25, 114, 230);
    width: 80vw;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(57, 134, 234);
    color: white;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
}

.slide-img {
    height: 100%;
    object-fit: cover;
}

.slide h1 {
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px black;
}

.slide:nth-child(n) h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}

.prevBtn,
.nextBtn {
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: grey;
}

.prevBtn:hover,
.nextBtn:hover {
    color: coral;
}

@media screen and (min-width: 576px) {
    .slider-container {
        height: 45vh;
    }
}
@media screen and (min-width: 768px) {
    .slider-container {
        height: 55vh;
    }
}
@media screen and (min-width: 992px) {
    .slider-container {
        height: 65vh;
    }
}

/* The following will be done dynamically in app.js */
/* .slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide {
    transform: translateX(0%);
} */

/* random color generator */
.color-container {
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.hex-container,
.rba-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-container h3 {
    background: rgb(224, 234, 247, 0.8);
    border: solid rgb(224, 234, 247, 0.8) 1px;
    border-radius: 1rem;
    padding: 5px;
}
